# Node modules
node_modules/

# Certificates
certificates/

# Resume files
resume/

# Profile pictures
ProfilePictures/

# Contact images
contactImage/

# Job images
jobImage/

# Poster images
posterImages/
logo/
serviceImage/
webinarImage/

# Environment variables
.env
.env.*
